@model SummonerStats.Models.ProfileViewModel
@{
    ViewBag.Title = Model.playerProfile.name;
    ViewBag.BG = Model.mh.topChampBG;
}
<link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
<div class="champ-hd" style="background-image:url(@ViewBag.BG)"></div>
<div class="container" id="profile-header">
    @{
        string profileIcon = "http://ddragon.leagueoflegends.com/cdn/6.24.1/img/profileicon/" + Model.playerProfile.profileIconId + ".png";
    }
    <img id="sum-icon" src="@profileIcon" />
    <div class="name-div">
        <div class="name-div">
            <h1 id="player-name">@Model.playerProfile.name</h1>
            <div class="s-lvl">Level @Model.playerProfile.summonerLevel</div>
            <div id="update-player">
                @Ajax.ActionLink("Refresh", "UpdatePlayer", new { searchName = Model.playerProfile.name }, new AjaxOptions()
           {
               HttpMethod = "GET",
               AllowCache = false,
               InsertionMode = InsertionMode.InsertAfter,
               UpdateTargetId = "match-list",
               OnSuccess = "window.location.reload(true)"
           }, new { @class = "update-link", id = "update-link" })
                <div id="update-img">
                    <img src="~/img/loading.gif" height="27" width="27" />
                </div>
            </div>

        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-sm-4 stats-col">
            <div class="rank-stats">
                <div class="rank-stats-bd">
                    @{
                        string rankImg;
                        if (Model.playerProfile.league != null)
                        {
                            rankImg = "~/img/rank/" + Model.playerProfile.league.ToLower() + ".png";
                        } else
                        {
                            rankImg = "~/img/rank/unranked.png";
                        }
                        string LPString = Model.playerProfile.leaguePoints + "LP";
                    }
                    <img class="rank-icon" src="@Url.Content(rankImg)" height="128" width="128" />
                    <div class="league-div">
                        <span class="league-span">@Model.playerProfile.league @Model.playerProfile.division</span>
                        <span class="w-l-span">W: @Model.playerProfile.wins L: @Model.playerProfile.losses / @LPString</span>
                        <span class="group-span">@Model.playerProfile.group</span>
                    </div>
                </div>
            </div>
            <div class="top-champs">
                <div class="top-champs-hd">
                    <span class="top-champs-title">Most Played Champions</span>
                    <span> (Season 7)</span>
                </div>

                <table class="centered tc-table">
                    @{ if (Model.mh.topChampOne != null)
                        {
                            string champOneImg = "~/img/champion/" + Model.mh.topChampOne.Replace(" ", "").Replace("'", "").Replace(".", "") + ".png";
                            <tr class="tc-tr">
                                <td><img class="top-champ-icon" src="@Url.Content(champOneImg)" height="50" width="50" /></td>
                                <td><span class="tc-name">@Model.mh.topChampOne</span></td>
                                <td class="tc-td">
                                    <span class="tc-kda">@Model.mh.killsOne / @Model.mh.deathsOne / @Model.mh.assistsOne KDA</span>
                                    <span class="tc-wl">W: @Model.mh.winsOne L: @Model.mh.lossesOne</span>
                                </td>
                                <td class="tc-td">
                                    <span class="tc-winrate">@Model.mh.winrateOne</span>
                                    <span>WIN RATE</span>
                                </td>
                            </tr>
                        }
                        }
                    @{ if (Model.mh.topChampTwo != null)
                        {
                            string champTwoImg = "~/img/champion/" + Model.mh.topChampTwo.Replace(" ", "").Replace("'", "").Replace(".", "") + ".png";
                            <tr class="tc-tr">
                                <td><img class="top-champ-icon" src="@Url.Content(champTwoImg)" height="50" width="50" /></td>
                                <td><span class="tc-name">@Model.mh.topChampTwo</span></td>
                                <td class="tc-td">
                                    <span class="tc-kda">@Model.mh.killsTwo / @Model.mh.deathsTwo / @Model.mh.assistsTwo KDA</span>
                                    <span class="tc-wl">W:@Model.mh.winsTwo L:@Model.mh.lossesTwo</span>
                                </td>
                                <td class="tc-td">
                                    <span class="tc-winrate">@Model.mh.winrateTwo</span>
                                    <span>WIN RATE</span>
                                </td>
                            </tr>
                        }
                        }
                    @{ if (Model.mh.topChampThree != null)
                        {
                            string champThreeImg = "~/img/champion/" + Model.mh.topChampThree.Replace(" ", "").Replace("'", "").Replace(".", "") + ".png";
                            <tr class="tc-tr">
                                <td><img class="top-champ-icon" src="@Url.Content(champThreeImg)" height="50" width="50" /></td>
                                <td><span class="tc-name">@Model.mh.topChampThree</span></td>
                                <td class="tc-td">
                                    <span class="tc-kda">@Model.mh.killsThree / @Model.mh.deathsThree / @Model.mh.assistsThree KDA</span>
                                    <span class="tc-wl">W:@Model.mh.winsThree L:@Model.mh.lossesThree</span>
                                </td>
                                <td class="tc-td">
                                    <span class="tc-winrate">@Model.mh.winrateThree</span>
                                    <span>WIN RATE</span>
                                </td>
                            </tr>
                        }
                        }
                    @{ if (Model.mh.topChampFour != null)
                        {
                            string champFourImg = "~/img/champion/" + Model.mh.topChampFour.Replace(" ", "").Replace("'", "").Replace(".", "") + ".png";
                            <tr class="tc-tr">
                                <td><img class="top-champ-icon" src="@Url.Content(champFourImg)" height="50" width="50" /></td>
                                <td><span class="tc-name">@Model.mh.topChampFour</span></td>
                                <td class="tc-td">
                                    <span class="tc-kda">@Model.mh.killsFour / @Model.mh.deathsFour / @Model.mh.assistsFour KDA</span>
                                    <span class="tc-wl">W:@Model.mh.winsFour L:@Model.mh.lossesFour</span>
                                </td>
                                <td class="tc-td">
                                    <span class="tc-winrate">@Model.mh.winrateFour</span>
                                    <span>WIN RATE</span>
                                </td>
                            </tr>
                        }
                        }
                    @{ if (Model.mh.topChampFive != null)
                        {
                            string champFiveImg = "~/img/champion/" + Model.mh.topChampFive.Replace(" ", "").Replace("'", "").Replace(".", "") + ".png";
                            <tr class="tc-tr">
                                <td><img class="top-champ-icon" src="@Url.Content(champFiveImg)" height="50" width="50" /></td>
                                <td><span class="tc-name">@Model.mh.topChampFive</span></td>
                                <td class="tc-td">
                                    <span class="tc-kda">@Model.mh.killsFive / @Model.mh.deathsFive / @Model.mh.assistsFive KDA</span>
                                    <span class="tc-wl">W:@Model.mh.winsFive L:@Model.mh.lossesFive</span>
                                </td>
                                <td class="tc-td">
                                    <span class="tc-winrate">@Model.mh.winrateFive</span>
                                    <span>WIN RATE</span>
                                </td>
                            </tr>
                        }
                        }
                </table>
            </div>
            @{
                if (Model.matchHistory != null)
                {
                    List<string> recentList = new List<string>();
                    List<Tuple<string, int>> recentGroup = new List<Tuple<string, int>>();

                    foreach (var match in Model.matchHistory)
                    {
                        SummonerStats.Models.tblMatchDetails mdm = new SummonerStats.Models.tblMatchDetails();
                        SummonerStats.Controllers.ProfileController pc = new SummonerStats.Controllers.ProfileController();
                        Model.matchDetails = mdm.PullMatch(match.matchId);
                        int[] playerStats = pc.FindViewPlayer(Model.matchDetails, Model.playerProfile.name);

                        if (Model.matchDetails.First().winner == "Team1" && playerStats[15] == 1 || Model.matchDetails.First().winner == "Team2" && playerStats[15] == 0)
                        {
                            recentList.Add(Model.matchDetails.First().p1Name);
                            recentList.Add(Model.matchDetails.First().p2Name);
                            recentList.Add(Model.matchDetails.First().p3Name);
                            recentList.Add(Model.matchDetails.First().p4Name);
                            recentList.Add(Model.matchDetails.First().p5Name);
                        }
                        else if (Model.matchDetails.First().winner == "Team2" && playerStats[15] == 1 || Model.matchDetails.First().winner == "Team1" && playerStats[15] == 0)
                        {
                            recentList.Add(Model.matchDetails.First().p6Name);
                            recentList.Add(Model.matchDetails.First().p7Name);
                            recentList.Add(Model.matchDetails.First().p8Name);
                            recentList.Add(Model.matchDetails.First().p9Name);
                            recentList.Add(Model.matchDetails.First().p10Name);
                        }
                    }

                    recentList.RemoveAll(name => name == Model.playerProfile.name);

                    var playedWith = recentList.GroupBy(i => i);
                    foreach (var recentPlayer in playedWith)
                    {
                        var player = recentPlayer.Key;
                        var count = recentPlayer.Count();

                        if (count > 1)
                        {
                            recentGroup.Add(new Tuple<string, int>(player, count));
                        }
                    }

                <div class="recent-played-with">
                    <div class="top-champs-hd">
                        <span class="top-champs-title">Recently Played With </span>
                        <span> (Last 10 Games)</span>
                    </div>

                    <table class="centered rpw-table">
                        @{foreach (var player in recentGroup)
                            {
                                <tr class="rpw-tr">
                                    <td class="rpw-name-td"><a class="rpw-name" href="@Url.Action("Search", "Profile", new { searchName = player.Item1 })">@player.Item1</a></td>
                                    <td class="rpw-count-td"><span class="rpw-count">@player.Item2 games</span></td>
                                </tr>
                            }
                        }
                    </table>
                </div>
                }
            }


        </div>

        @{ 
            //recent matches header

            string gameCount = "0G";
            int winCount = 0;
            int lossCount = 0;
            int kills = 0;
            int deaths = 0;
            int assists = 0;
            string winString = "0W";
            string lossString = "0L";
            string killAvg = "0";
            string deathsAvg = "0";
            string assistsAvg = "0";

            if (Model.matchHistory != null)
            {
                gameCount = Model.matchHistory.Count.ToString() + "G";

                foreach (var match in Model.matchHistory)
                {
                    SummonerStats.Models.tblMatchDetails mdm = new SummonerStats.Models.tblMatchDetails();
                    SummonerStats.Controllers.ProfileController pc = new SummonerStats.Controllers.ProfileController();
                    Model.matchDetails = mdm.PullMatch(match.matchId);
                    int[] playerStats = pc.FindViewPlayer(Model.matchDetails, Model.playerProfile.name);

                    if (playerStats[15] == 1)
                    {
                        winCount++;
                    }
                    else
                    {
                        lossCount++;
                    }

                    kills += playerStats[4];
                    deaths += playerStats[5];
                    assists += playerStats[6];
                }

                winString = winCount.ToString() + "W";
                lossString = lossCount.ToString() + "L";


                if (Model.matchHistory.Count() == 0)
                {
                    killAvg = "0";
                    deathsAvg = "0";
                    assistsAvg = "0";
                }
                else
                {
                    killAvg = (kills / Model.matchHistory.Count()).ToString();
                    deathsAvg = (deaths / Model.matchHistory.Count()).ToString();
                    assistsAvg = (assists / Model.matchHistory.Count()).ToString();
                }
            }

        }

        <div class="col-sm-8 matches">
            <div class="recent-match-hd">
                <span class="rct-title">Recent Matches</span>
                <span class="rct-wl">@winString @lossString</span>
                <div class="rct-kda-div">
                    <span class="rct-kda-lbl">Avg KDA: </span>
                    <span class="rct-kda">@killAvg / @deathsAvg / @assistsAvg</span>
                </div>
            </div>
            <div id="match-list">
                @{ 
                    if (Model.matchHistory != null)
                    {
                        Html.RenderPartial("MatchDetails", Model);
                    }
                }
            </div>
        </div>
    </div>
</div>

<script>
    @*$(document).ready(function () {
        var name = '@Model.playerProfile.name';
        $.ajax({
            type: "GET",
            url: '@Url.Action("GetTenMore")',
            data: { searchName: name, lastMatch: 0 },
            success: function (result) {
                $('#match-list').html(result);
            }
        })
    })*@

    $(document).ready(function () {
        if ($('#player-name').text() == 'The player was not found') {
            $('#update-player').hide();
        }
    })

    $(document).on('click', '#update-link', function () {
        $('#update-link').hide();
        $('#update-img').show();
    })

    $("body").tooltip({
        selector: '[data-toggle="tooltip"]',
        html: true
    });
</script>

