@model SummonerStats.Models.ProfileViewModel
@{
    ViewBag.Title = @Model.playerProfile.name;
}
<div class="jumbotron" id="profile-header" style="background:linear-gradient(rgba(0,0,0,0.5), rgba(255,255,255,0.2)), url(@Model.playerProfile.topChampBG) top center no-repeat">
    @{string profileIcon = "http://ddragon.leagueoflegends.com/cdn/6.24.1/img/profileicon/" + @Model.playerProfile.profileIconId + ".png";}
    <div>
        <div class="s-icon-div">
            <div class="s-lvl">Level @Model.playerProfile.summonerLevel</div>
            <img id="sum-icon" src="@profileIcon" />
        </div>
        <div>
            <h1 id="player-name">@Model.playerProfile.name </h1>
            <h2 style="color: white">@Model.playerProfile.league @Model.playerProfile.division: @Model.playerProfile.leaguePoints</h2>
            <h2 style="color:white">Wins: @Model.playerProfile.wins / Losses: @Model.playerProfile.losses</h2>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-sm-4" style="background-color: blanchedalmond">
            <div>
                <h4 class="centered">Most Played Champions <small>(Season 7)</small></h4>
                <table class="centered tc-table">
                    <tr class="tc-tr">
                        <td><img class="top-champ-icon" src="http://ddragon.leagueoflegends.com/cdn/6.24.1/img/champion/Teemo.png" height="50" width="50" /></td>
                        <td><p>@Model.playerProfile.topChampOne</p></td>
                        <td class="tc-td"><p>10 / 5 / 8 KDA<br />50W 20L</p></td>
                        <td class="tc-td"><p>80%<br />WIN RATE</p></td>
                    </tr>
                    <tr class="tc-tr">
                        <td><img class="top-champ-icon" src="http://ddragon.leagueoflegends.com/cdn/6.24.1/img/champion/Teemo.png" height="50" width="50" /></td>
                        <td><p>@Model.playerProfile.topChampOne</p></td>
                        <td class="tc-td"><p>10 / 5 / 8 KDA<br />50W 20L</p></td>
                        <td class="tc-td"><p>80%<br />WIN RATE</p></td>
                    </tr>
                    <tr class="tc-tr">
                        <td><img class="top-champ-icon" src="http://ddragon.leagueoflegends.com/cdn/6.24.1/img/champion/Teemo.png" height="50" width="50" /></td>
                        <td><p>@Model.playerProfile.topChampOne</p></td>
                        <td class="tc-td"><p>10 / 5 / 8 KDA<br />50W 20L</p></td>
                        <td class="tc-td"><p>80%<br />WIN RATE</p></td>
                    </tr>
                    <tr class="tc-tr">
                        <td><img class="top-champ-icon" src="http://ddragon.leagueoflegends.com/cdn/6.24.1/img/champion/Teemo.png" height="50" width="50" /></td>
                        <td><p>@Model.playerProfile.topChampOne</p></td>
                        <td class="tc-td"><p>10 / 5 / 8 KDA<br />50W 20L</p></td>
                        <td class="tc-td"><p>80%<br />WIN RATE</p></td>
                    </tr>
                    <tr class="tc-tr">
                        <td><img class="top-champ-icon" src="http://ddragon.leagueoflegends.com/cdn/6.24.1/img/champion/Teemo.png" height="50" width="50" /></td>
                        <td><p>@Model.playerProfile.topChampOne</p></td>
                        <td class="tc-td"><p>10 / 5 / 8 KDA<br />50W 20L</p></td>
                        <td class="tc-td"><p>80%<br />WIN RATE</p></td>
                    </tr>
                </table>
            </div>
        </div>
        <div class="col-sm-8 matches">
            <h2>Recent Matches</h2>
            <div>
                @{
                    foreach (var match in Model.matchHistory)
                    {
                        SummonerStats.Models.MatchDetailsModel mdm = new SummonerStats.Models.MatchDetailsModel();
                        SummonerStats.Controllers.ProfileController pc = new SummonerStats.Controllers.ProfileController();

                        Model.matchDetails = mdm.PullMatch(match.matchId);

                        int[] playerStats = pc.FindViewPlayer(Model.matchDetails, @Model.playerProfile.name);
                        string playerChamp = pc.ChampById(playerStats[1]);
                        string pIcon = "http://ddragon.leagueoflegends.com/cdn/6.24.1/img/champion/" + @playerChamp + ".png";
                        float kda = ((float)playerStats[4] + (float)playerStats[6]) / (float)playerStats[5];

                        <div class="defeat">
                            <span>Defeat</span>
                        </div>
                        <div class="match-row">
                            <div class="match-expand"></div>
                            <div class="mc1">
                                <img class="img-circle pl-icon" src="@pIcon" height="80" width="80" />
                                <img class="img-rounded s1" src="http://ddragon.leagueoflegends.com/cdn/6.24.1/img/spell/SummonerFlash.png" height="35" width="35" />
                                <img class="img-rounded s2" src="http://ddragon.leagueoflegends.com/cdn/6.24.1/img/spell/SummonerFlash.png" height="35" width="35" />
                                <p class="c-name">@playerChamp</p>
                            </div>
                            <div class="mc2">
                                <span class="kda-txt">@playerStats[4].ToString()/@playerStats[5].ToString()/@playerStats[6]</span>
                                <span class="kda-avg">@kda KDA</span>
                            </div>
                            <div class="mc3">
                                <img class="img-rounded i-img1" src="@pc.ItemURL(playerStats[7])" height="35" width="35" />
                                <img class="img-rounded i-img1" src="@pc.ItemURL(playerStats[8])" height="35" width="35" />
                                <img class="img-rounded i-img1" src="@pc.ItemURL(playerStats[9])" height="35" width="35" />
                                <img class="img-rounded i-img2" src="@pc.ItemURL(playerStats[10])" height="35" width="35" />
                                <img class="img-rounded i-img2" src="@pc.ItemURL(playerStats[11])" height="35" width="35" />
                                <img class="img-rounded i-img2" src="@pc.ItemURL(playerStats[12])" height="35" width="35" />
                            </div>
                            <div class="mc4">
                                <span>Level @playerStats[13]</span>
                                <span>@playerStats[0] Gold</span>
                                <span>@playerStats[14] CS</span>
                            </div>
                        </div>
                    }
                }
            </div>
        </div>
    </div>
</div>
