@model SummonerStats.Models.ProfileViewModel
@{
    ViewBag.Title = @Model.playerProfile.name;
}
<div class="jumbotron" id="profile-header" style="background:linear-gradient(rgba(0,0,0,0.5), rgba(255,255,255,0.2)), url(@Model.playerProfile.topChampBG) top center no-repeat">
    @{string profileIcon = "http://ddragon.leagueoflegends.com/cdn/6.24.1/img/profileicon/" + @Model.playerProfile.profileIconId + ".png";}
    <div>
        <div class="s-icon-div">
            <div class="s-lvl">Level @Model.playerProfile.summonerLevel</div>
            <img id="sum-icon" src="@profileIcon" />
        </div>
        <div>
            <h1 id="player-name">@Model.playerProfile.name </h1>
            <h2 style="color: white">@Model.playerProfile.league @Model.playerProfile.division: @Model.playerProfile.leaguePoints</h2>
            <h2 style="color:white">Wins: @Model.playerProfile.wins / Losses: @Model.playerProfile.losses</h2>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-sm-4" style="background-color: blanchedalmond">
            <div>
                <h4 class="centered">Most Played Champions <small>(Season 7)</small></h4>
                <table class="centered tc-table">
                    <tr class="tc-tr">
                        <td><img class="top-champ-icon" src="http://ddragon.leagueoflegends.com/cdn/6.24.1/img/champion/Teemo.png" height="50" width="50" /></td>
                        <td><p>@Model.playerProfile.topChampOne</p></td>
                        <td class="tc-td"><p>10 / 5 / 8 KDA<br />50W 20L</p></td>
                        <td class="tc-td"><p>80%<br />WIN RATE</p></td>
                    </tr>
                    <tr class="tc-tr">
                        <td><img class="top-champ-icon" src="http://ddragon.leagueoflegends.com/cdn/6.24.1/img/champion/Teemo.png" height="50" width="50" /></td>
                        <td><p>@Model.playerProfile.topChampOne</p></td>
                        <td class="tc-td"><p>10 / 5 / 8 KDA<br />50W 20L</p></td>
                        <td class="tc-td"><p>80%<br />WIN RATE</p></td>
                    </tr>
                    <tr class="tc-tr">
                        <td><img class="top-champ-icon" src="http://ddragon.leagueoflegends.com/cdn/6.24.1/img/champion/Teemo.png" height="50" width="50" /></td>
                        <td><p>@Model.playerProfile.topChampOne</p></td>
                        <td class="tc-td"><p>10 / 5 / 8 KDA<br />50W 20L</p></td>
                        <td class="tc-td"><p>80%<br />WIN RATE</p></td>
                    </tr>
                    <tr class="tc-tr">
                        <td><img class="top-champ-icon" src="http://ddragon.leagueoflegends.com/cdn/6.24.1/img/champion/Teemo.png" height="50" width="50" /></td>
                        <td><p>@Model.playerProfile.topChampOne</p></td>
                        <td class="tc-td"><p>10 / 5 / 8 KDA<br />50W 20L</p></td>
                        <td class="tc-td"><p>80%<br />WIN RATE</p></td>
                    </tr>
                    <tr class="tc-tr">
                        <td><img class="top-champ-icon" src="http://ddragon.leagueoflegends.com/cdn/6.24.1/img/champion/Teemo.png" height="50" width="50" /></td>
                        <td><p>@Model.playerProfile.topChampOne</p></td>
                        <td class="tc-td"><p>10 / 5 / 8 KDA<br />50W 20L</p></td>
                        <td class="tc-td"><p>80%<br />WIN RATE</p></td>
                    </tr>
                </table>
            </div>
        </div>
        <div class="col-sm-8" style="background-color: blanchedalmond">
            <h2>Recent Matches</h2>
            <div>
                @{ 
                    foreach (var name in Model.playerProfile.name)
                    {
                        <div>
                            <h1>@Model.playerProfile.name</h1>
                        </div>
                    }
                }
            </div>
        </div>
    </div>
</div>
